#cor-primaria{
    background-color: #d50000;
}
#cor-secundaria{
    background-color: #d50000;
}

#cor-terciaria{
    background-color: 
}

#cor-texto-primario{
    color: #212121;
}

#cor-texto-secundario{
    color: #E0F2F1;
}


#primeira-seção{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}