#cor-primaria{
    background-color: #424242;
}
#cor-secundaria{
    background-color: #1A237E;
}

#cor-terciaria{
    background-color: 
}

#cor-texto-primario{
    color: #212121;
}

#cor-texto-secundario{
    color: #E0F2F1;
}


#primeira-seção-index{
    width: 500px;
    height: 500px;
    margin: 0 auto;
}

#primeira-seção-cadastro{
    width: 600px;
    margin: 0 auto;
}